name: CLA Assistant

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  cla:
    runs-on: ubuntu-latest
    steps:
      - name: CLA Assistant
        uses: cla-assistant/github-action@v2.3.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
