name: "CLA Assistant"

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        uses: contributor-assistant/github-action@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: "signatures/version1/cla.json"
          path-to-document: "https://github.com/Pray4Lovee/Grants-Program/blob/main/CLA.md"
          branch: "main"
          allowlist: Pray4Lovee,github-actions[bot],dependabot[bot],dependabot-preview[bot]
          custom-notsigned-prcomment: |
            Thank you for your submission!  
            Before we can review it, please sign our Contributor License Agreement by adding a new comment with exactly this text:

            `I have read and agree to the CLA`
          custom-pr-sign-comment: "I have read and agree to the CLA"
          lock-pullrequest-aftermerge: true
