name: Publish website

on:
  push:
    branches:
      - master

jobs:
  build:
    if: ${{ github.repository_owner == 'w3f' }}
    name: build and deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Deploy
        env:
          GIT_USER: grants-deployer
          GITHUB_TOKEN: ${{ secrets.ACCESS_KEY }}
          PUBLISHING: true
        run: yarn deploy

      - name: Notify failure
        if: ${{ failure() }}
        uses: fadenb/matrix-chat-message@v0.0.6
        with:
          homeserver: 'matrix.web3.foundation'
          token: ${{ secrets.MATRIX_TOKEN }}
          channel: ${{ secrets.MATRIX_CHANNEL_ID }}
          message: |
            WEBSITE BUILD FAILED:
            - Commit: https://github.com/w3f/Grants-Program/commit/${{ github.sha }}
            - Dashboard: https://app.base44.com/apps/6922efdad1b5946f5f21c2c4/editor/preview/Dashboard
