name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read and hereby sign the Contributor License Agreement.') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          path-to-document: 'https://github.com/w3f/Grants-Program/blob/master/docs/Support%20Docs/T%26Cs.md'
          branch: 'master'
          allowlist: Pray4Lovee,takahser,Noc2,PieWol,keeganquigley,laboon,github-actions[bot]
          remote-organization-name: w3f
          remote-repository-name: grants-cla
          custom-notsigned-prcomment: 'Thank you for your submission. Please sign our CLA to proceed.'
          custom-pr-sign-comment: 'I have read and hereby sign the Contributor License Agreement.'
          lock-pullrequest-aftermerge: false
          use-dco-flag: false
